*{
    padding :0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(11, 4, 29);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    width: 100%;
}
.container .sidebar{
    width: 20%;
    background-color:rgb(28, 20, 35);
    height: 100vh;
    padding: 20px;

}
.container .sidebar ul{
    list-style: none;
    color : white;
    cursor: pointer ;
}
.container .sidebar ul a{
    color: white;
    text-decoration: none;
}
.container .sidebar ul a li:hover{
   background-color: rgb(80, 22, 147);
   padding: 10px;
   border-radius: 0 50px 50px 0px;
}
.container .sidebar .theme{
    width: 96%;
    margin: 15px auto ;
    background-color: rgb(11, 4, 29);
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
}
.container .main{width: 80%;}
.container .main .header{
padding: 20px;
width: 100%;
display: flex;
justify-content:space-between;
color: rgb(255, 255, 255);
background-color: rgb(28, 20, 35);
}

.image{
    size: 0px;
}

.main .content{
    width: 100%;
    color: rgb(149, 147, 147);
    display: flex;
    padding: 20px;
}
.main .content .sections{
    width: 30%;
    margin-left: 20px;
    
}
.main .content .sections .head{
    display: flex;
    margin-bottom: 20px;
}

.main .content .sections .head .circle{
    border-radius: 50%;
    background-color: blue;
    width: 10px;
    margin-right: 10px;
    height: 10px;
}
.main .content .sections .box{
    width: 100%;
    background-color:rgb(28, 20, 35) ;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.main .content .sections .box p{
    margin-top: 10px;
    font-size: 12px;
}

.main .content .sections .box h4{
    color: white;

}

